#tabuleiro{
    width: 400px;
    height: 400px;
    border: 3px solid black;
}

.linha{
    height: 50px;
}

.casa{
    width: 50px;
    height: 100%;
    float: left;
    cursor: pointer;
}

.casa_b{
    background-color: white;
    cursor: auto;
}

.casa_p{
    background-color: black;
}

.casa_selecionada{
    opacity: 0.7;
    background-color: #DEB887;
}
.peca{
    width: 50px;
    height: 50px;
}
.temBolaPreta{
    background-image: url(/images/pecaPreta.svg);
    background-size: 50px;
    background-repeat: no-repeat;
}
.temBolaBranca{
    background-image: url(/images/pecaBranca.svg);
    background-size: 50px;
    background-repeat: no-repeat;
}